external/
generated/
.ninja_deps
.ninja_log
/bin/
build.ninja
rules.ninja
doxy.conf
/Makefile
config.h
config/hpmail.conf
config/server.conf
init-scripts/fred-server
.cproject
.gitignore*
.project
INSTALL
config.h.in
*.o
*.a
/src/fred-server/
src/nbproject/
/.settings
/.autotools
doc/html
compile_commands.json
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
cmake_uninstall.cmake
config/optysmail.conf
