src/cli_admin/fred-admin
src/corba/fred-adifd
src/corba/fred-logd
src/corba/fred-pifd
src/corba/fred-rifd
src/corba/messages/fred-msgd
src/corba/mojeid/fred-mifd
src/model/test-model
tests/test-exception
tests/test-server
tools/logd_migration/migrate_log
util/db/test-db
util/db/test-mockdb
util/hp/client-hp
util/hp/crc32
util/log/test-log
/Makefile
config.h
config.log
config.status
config/hpmail.conf
config/server.conf
init-scripts/fred-server
stamp-h1
util/decimal/mpdecimal-2.2/mpdecimal.h
.cproject
.gitignore*
.project
INSTALL
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.h.in~
config.sub
configure
depcomp
install-sh
missing
*.o
*.a
.dirstamp
.deps
src/corba/Admin.hh
src/corba/AdminDynSK.cc
src/corba/AdminSK.cc
src/corba/AdminContactVerificationSK.cc
src/corba/AdminContactVerificationDynSK.cc
src/corba/AdminContactVerification.hh
src/corba/ContactVerification.hh
src/corba/ContactVerificationSK.cc
src/corba/ContactVerificationDynSK.cc
src/corba/EPP.hh
src/corba/EPPDynSK.cc
src/corba/EPPSK.cc
src/corba/FileManager.hh
src/corba/FileManagerDynSK.cc
src/corba/FileManagerSK.cc
src/corba/Filters.hh
src/corba/FiltersDynSK.cc
src/corba/FiltersSK.cc
src/corba/Logger.hh
src/corba/LoggerDynSK.cc
src/corba/LoggerSK.cc
src/corba/Mailer.hh
src/corba/MailerDynSK.cc
src/corba/MailerSK.cc
src/corba/Messages.hh
src/corba/MessagesDynSK.cc
src/corba/MessagesSK.cc
src/corba/MojeID.hh
src/corba/MojeIDDynSK.cc
src/corba/MojeIDSK.cc
src/corba/MojeID_i.cc
src/corba/Registry.hh
src/corba/RegistryDynSK.cc
src/corba/RegistrySK.cc
src/corba/TechCheck.hh
src/corba/TechCheckDynSK.cc
src/corba/TechCheckSK.cc
src/corba/Whois.hh
src/corba/WhoisDynSK.cc
src/corba/WhoisSK.cc
src/corba/Whois2.hh
src/corba/Whois2DynSK.cc
src/corba/Whois2SK.cc
src/corba/Zone.hh
src/corba/ZoneDynSK.cc
src/corba/ZoneGenerator.hh
src/corba/ZoneGeneratorDynSK.cc
src/corba/ZoneGeneratorSK.cc
src/corba/ZoneSK.cc
src/corba/_dataTypes.hh
src/corba/_dataTypesDynSK.cc
src/corba/_dataTypesSK.cc
src/corba/DateTime.hh
src/corba/DateTimeDynSK.cc
src/corba/DateTimeSK.cc
src/corba/NullableTypes.hh
src/corba/NullableTypesSK.cc
src/corba/NullableTypesDynSK.cc
/src/fred-server/
src/nbproject/
/.settings
/.autotools
doc/html
compile_commands.json
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
bin/
cmake_uninstall.cmake
config/optysmail.conf
src/bin/corba/Admin.hh
src/bin/corba/AdminContactVerification.hh
src/bin/corba/AdminContactVerificationDynSK.cc
src/bin/corba/AdminContactVerificationSK.cc
src/bin/corba/AdminDynSK.cc
src/bin/corba/AdminSK.cc
src/bin/corba/AdministrativeBlocking.hh
src/bin/corba/AdministrativeBlockingDynSK.cc
src/bin/corba/AdministrativeBlockingSK.cc
src/bin/corba/AutomaticKeysetManagement.hh
src/bin/corba/AutomaticKeysetManagementDynSK.cc
src/bin/corba/AutomaticKeysetManagementSK.cc
src/bin/corba/Buffer.hh
src/bin/corba/BufferDynSK.cc
src/bin/corba/BufferSK.cc
src/bin/corba/ContactVerification.hh
src/bin/corba/ContactVerificationDynSK.cc
src/bin/corba/ContactVerificationSK.cc
src/bin/corba/DateTime.hh
src/bin/corba/DateTimeDynSK.cc
src/bin/corba/DateTimeSK.cc
src/bin/corba/DomainBrowser.hh
src/bin/corba/DomainBrowserDynSK.cc
src/bin/corba/DomainBrowserSK.cc
src/bin/corba/EPP.hh
src/bin/corba/EPPDynSK.cc
src/bin/corba/EPPSK.cc
src/bin/corba/FileManager.hh
src/bin/corba/FileManagerDynSK.cc
src/bin/corba/FileManagerSK.cc
src/bin/corba/Filters.hh
src/bin/corba/FiltersDynSK.cc
src/bin/corba/FiltersSK.cc
src/bin/corba/IsoDate.hh
src/bin/corba/IsoDateDynSK.cc
src/bin/corba/IsoDateSK.cc
src/bin/corba/IsoDateTime.hh
src/bin/corba/IsoDateTimeDynSK.cc
src/bin/corba/IsoDateTimeSK.cc
src/bin/corba/Logger.hh
src/bin/corba/LoggerDynSK.cc
src/bin/corba/LoggerSK.cc
src/bin/corba/Mailer.hh
src/bin/corba/MailerDynSK.cc
src/bin/corba/MailerSK.cc
src/bin/corba/Messages.hh
src/bin/corba/MessagesDynSK.cc
src/bin/corba/MessagesSK.cc
src/bin/corba/MojeID.hh
src/bin/corba/MojeIDDynSK.cc
src/bin/corba/MojeIDSK.cc
src/bin/corba/Notification.hh
src/bin/corba/NotificationDynSK.cc
src/bin/corba/NotificationSK.cc
src/bin/corba/NullableIsoDate.hh
src/bin/corba/NullableIsoDateDynSK.cc
src/bin/corba/NullableIsoDateSK.cc
src/bin/corba/NullableIsoDateTime.hh
src/bin/corba/NullableIsoDateTimeDynSK.cc
src/bin/corba/NullableIsoDateTimeSK.cc
src/bin/corba/NullableTypes.hh
src/bin/corba/NullableTypesDynSK.cc
src/bin/corba/NullableTypesSK.cc
src/bin/corba/PublicRequest.hh
src/bin/corba/PublicRequestDynSK.cc
src/bin/corba/PublicRequestSK.cc
src/bin/corba/RecordStatement.hh
src/bin/corba/RecordStatementDynSK.cc
src/bin/corba/RecordStatementSK.cc
src/bin/corba/Registry.hh
src/bin/corba/RegistryDynSK.cc
src/bin/corba/RegistrySK.cc
src/bin/corba/TechCheck.hh
src/bin/corba/TechCheckDynSK.cc
src/bin/corba/TechCheckSK.cc
src/bin/corba/Whois.hh
src/bin/corba/Whois2.hh
src/bin/corba/Whois2DynSK.cc
src/bin/corba/Whois2SK.cc
src/bin/corba/WhoisDynSK.cc
src/bin/corba/WhoisSK.cc
src/bin/corba/Zone.hh
src/bin/corba/ZoneDynSK.cc
src/bin/corba/ZoneGenerator.hh
src/bin/corba/ZoneGeneratorDynSK.cc
src/bin/corba/ZoneGeneratorSK.cc
src/bin/corba/ZoneSK.cc
src/bin/corba/_dataTypes.hh
src/bin/corba/_dataTypesDynSK.cc
src/bin/corba/_dataTypesSK.cc
src/bin/corba/corba_conversion_test.hh
src/bin/corba/corba_conversion_testDynSK.cc
src/bin/corba/corba_conversion_testSK.cc
