#!/bin/sh

PATH=/sbin:/bin:/usr/bin:/usr/local/bin

test -f /usr/local/bin/fred_rifd || exit 0

. /lib/lsb/init-functions

case "$1" in
start|force-reload)
  log_begin_msg "Star central registry CORBA server fred_rifd..."
  /usr/local/bin/fred_rifd -ORBnativeCharCodeSet UTF-8 -ORBendPoint giop:tcp::2222 &
  log_end_msg $?
  log_begin_msg "Star central registry CORBA server fred_pifd..."
  /usr/local/bin/fred_pifd -ORBnativeCharCodeSet UTF-8 -ORBendPoint giop:tcp::2223 &
  log_end_msg $?
  ;;
restart|reload)
  ;;
stop)
  log_begin_msg "Stoping  central registry CORBA server fred_rifd..."
  /usr/bin/killall -9 fred_rifd
  log_end_msg $?
  log_begin_msg "Stoping  central registry CORBA server fred_pifd..."
  /usr/bin/killall -9 fred_pifd
  log_end_msg $?
  ;;
*)
  log_success_msg "Usage: /etc/init.d/ccReg {start|stop|restart|reload|force-reload}"
  exit 1
esac

exit 0
