#!/bin/sh

PATH=/sbin:/bin:/usr/bin:/usr/local/bin

test -f /usr/local/bin/ccReg || exit 0

. /lib/lsb/init-functions

case "$1" in
start|force-reload)
  log_begin_msg "Star central registry CORBA server ccReg..."
  /usr/local/bin/ccReg > /tmp/ccReg.log &
  log_end_msg $?
  ;;
restart|reload)
  ;;
stop)
  log_begin_msg "Stoping  central registry CORBA server ccReg..."
  rm /tmp/ccReg.ref
  /usr/bin/killall -9 ccReg  
  log_end_msg $?
  ;;
*)
  log_success_msg "Usage: /etc/init.d/ccReg {start|stop|restart|reload|force-reload}"
  exit 1
esac

exit 0
