[Unit]
Description=FRED domainbrowser interface daemon
Documentation=https://fred.nic.cz/documentation/html/AdminManual/index.html
After=network.target fred-logd.service
ConditionPathExists=!/etc/fred/shutdown
RequiresMountsFor=/usr/sbin /etc/fred

[Service]
User=fred
WorkingDirectory=/
StandardOutput=null
StandardError=null
ExecStart=/usr/sbin/fred-dbifd -ORBendPoint giop:tcp::2230 -ORBnativeCharCodeSet UTF-8 --config /etc/fred/fred-dbifd.conf
KillMode=process
LimitRSS=524288
Restart=on-failure
RuntimeDirectory=fred

[Install]
WantedBy=multi-user.target


